<head>
  <meta charset="UTF-8">
  <title> DREWS TECH BLOG</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="flex column">
      <nav class="display-flex justify-space-between align-center p-2">
        <a href="/"<button class="btn btn-primary" type="submit">HOME</button></a>
        <a href="/dashboard" <button class="btn btn-primary" type="submit">DASHBOARD</button></a>
      {{#if loggedIn}}
      <button id="logout" class="btn btn-primary">LOGOUT</button>
      {{else}}
      <a href="/login"><button id="logout" class="btn btn-primary">LOGIN</button></a>
      {{/if}}
      </nav>
      <h1>DREWS TECH BLOG</h1>
    </header>
      <main class="d-flex mt-5 flex-column">
        {{{ body }}}
      </main>
      <footer class="mt-8">
        <p class="ml-12">2023 Drews Tech Blog</p>
      </footer>
  </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>